{% extends "document/base.html" %}
<!DOCTYPE html>


{% block title %} {{ document.name }} {% endblock %}
{% block content %}
    {% load staticfiles %}


    <form id="modal" class="modal hide" action="{% url 'references:wrap_text' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <h2>Список документов</h2>

            <div class="form-inline">
                <input type="hidden" name="source_document_id" value="{{ document_id }}"/>
                <input type="hidden" name="source_element" id="source_element" value=/>
                <input type="hidden" name="target_document_id" value="" id="target_document_id"/>
                <input type="hidden" name="target_element" value="" id="target_element"/>
            </div>
            <div class="accordion" id="accordion" style="margin-bottom: 0px !important;">

            </div>
        </div>
    </form>

    <div id="list" style="width: 940px; background: #ffc; padding: 0 15px;">
        <p style="margin-top: 20px; margin-left: 500px"> {{ document.uploaded_date }} </p>

        <div style="margin-top: 100px; padding-bottom: 50px;" document_id="{{ document_id }}">
            {% autoescape off %}
                {{ content }}
            {% endautoescape %}
        </div>
    </div>
    <script type="text/javascript">
        var selected;
        var selRange, txt;
        $('document').ready(function () {

            $("a#getWindow").click(function () {
                $("#modal").modal();
                $("#source_element").val('#' + $(this).parent().attr("id"));
            })
            getDocumentsList();
        })

        $('#list').mouseup(function () {
            showClickMeButton();
        });
        $('#list').dblclick(function () {
            showClickMeButton();
        });

        $('#list').click(function () {
            if (selectedText().length <= 0 && !$('#ShowModalWindow').hasClass('hide')) {
                $('#ShowModalWindow').addClass('hide');
            }
        });

        function showClickMeButton() {
            if (selectedText().length > 0) {
                $('#ShowModalWindow').removeClass('hide');
                selected = window.getSelection();
                selRange = selected.getRangeAt(0);
            }
        }

        function selectedText() {
            if (window.getSelection)
                txt = window.getSelection().toString();
            else if (document.getSelection)
                txt = document.getSelection();
            else if (document.selection)
                txt = document.selection.createRange().text;
            return txt;
        }

        var target_document_id;

        function sendSelectionTextPositions() {
            if (confirm("Вы хотите добавить ссылку?")) {
                $('#getWindow').addClass('hide');
                $('#modal').submit();
            }
        }

        function getDocumentsList() {

            var div_class, id;

            $("#accordion").load("/ ol li a", function () {

                $('#accordion a').each(function (item) {

                    id = jQuery(this).attr('href');
                    $('#target_document_id').attr('doc_id', target_document_id);

                    jQuery(this).attr('href', '#collapse_' + item);
                    jQuery(this).attr('doc_id', id.replace(/[^0-9\s]/gi, ''));
                    jQuery(this).click(function () {
                        $('#target_document_id').attr('value', jQuery(this).attr('doc_id'));
                    });

                    if (item == 0) {
                        $('#target_document_id').attr('value', id.replace(/[^0-9\s]/gi, ''));
                    }

                    jQuery(this).addClass("accordion-toggle");
                    jQuery(this).attr('data-toggle', "collapse");
                    jQuery(this).attr('data-parent', "#accordion");
                    jQuery(this).wrap('<div class="accordion-group"><div class="accordion-heading"></div></div>');
                    jQuery(this).after('<button type="submit" class="btn btn-primary add_link_btn" onclick="sendSelectionTextPositions();  return false;" title="Добавить ссылку"><i class="icon-tags icon-white "></i></button>');
                    var parsedIntId = parseInt(id.replace(/\//g, ''))
                    jQuery(jQuery(this).context.parentElement).after('\n <div id=' + 'collapse_' + item + ' class="accordion-body collapse ' + div_class + ' "><div class="accordion-inner accordion-inner-doc' + parsedIntId + '"></div></div>');

                    fullDocumentView(id);
                });

                $('.accordion-inner').click(function (event) {
                    var $target = $(event.target);

                    if ($target.is("a")) {
                        $('#target_element').attr('value', $target.attr('href'));
                    }

                    sendSelectionTextPositions();
                });

            });
        }

        var elements;
        function fullDocumentView(id) {

            parsedIntId = parseInt(id.replace(/\//g, ''))
            $(".accordion-inner-doc" + parsedIntId).load(id + " .contents");

            $('.accordion-inner').mouseover(function (event) {
                var $target = $(event.target);
                if ($target.is("a")) {
                    $target.attr('onclick', 'return false');
                }
            });
        }
    </script>
{% endblock %}
{% block footer %} {% endblock %}
