{% extends "document/base.html" %}
<!DOCTYPE html>


{% block title %} {{ document.name }} {% endblock %}
{% block content %}
    {% load staticfiles %}


    <form id="modal" class="modal hide" action="{% url 'document:wrap_text' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">

            <div class="form-inline">
                <input type="hidden" name="document_id" value="{{ document_id }}"/>
                <input type="hidden" name="article_item_id" id="article_item_id" value=""/>
                <input type="hidden" name="start_position" value="" id="start_position"/>
                <input type="hidden" name="length" value="" id="length"/>
                <input type="hidden" name="link_document_id" id="link_document_id" value=""/>
                <input type="hidden" name="link_object_id" id="link_object_id" value="">
            </div>
            <div class="accordion" id="accordion" style="margin-bottom: 0px !important;">

            </div>
        </div>
    </form>

    <a href="#modal" role="button" class="btn hide" id='ShowModalWindow' data-toggle="modal"
       style="position: fixed; left: 12px;">Добавить ссылку</a>
    <div id="list" style="width: 940px; background: #ffc; padding: 0 15px;">
        <p style="margin-top: 20px; margin-left: 500px"> {{ document.uploaded_date }} </p>

        <div style="margin-top: 100px; padding-bottom: 50px;" document_id="{{ document_id }}">
            {% autoescape off %}
                {{ content }}
            {% endautoescape %}
        </div>
    </div>
    <script type="text/javascript">
        var selected;
        var selRange, txt;
        var parent;
        $('document').ready(function () {
            $('#ShowModalWindow').click(function () {
                $('#modal').modal();
                var ua = navigator.userAgent;
                if(ua.search(/MSIE/)) {
                    parent = selected.anchorNode.parentNode.id;
                }
                else {
                    parent = selected.anchorNode.parentElement.id;
                }
                showCaretPos();
                $(".documents-view a").attr('onclick', 'return false');
            })

            getDocumentsList();

            $('.add_link_btn').click(function () {
                console.log('isabek');
                {#                sendSelectionTextPositions();#}
            });

        })

        $('#list').mouseup(function () {
            showClickMeButton();
        });
        $('#list').dblclick(function () {
            showClickMeButton();
        });

        $('#list').click(function () {
            if (selectedText().length <= 0 && !$('#ShowModalWindow').hasClass('hide')) {
                $('#ShowModalWindow').addClass('hide');
            }
        });

        function showClickMeButton() {
            if (selectedText().length > 0) {
                $('#ShowModalWindow').removeClass('hide');
                selected = window.getSelection();
                selRange = selected.getRangeAt(0);
            }
        }

        function selectedText() {
            if (window.getSelection)
                txt = window.getSelection().toString();
            else if (document.getSelection)
                txt = document.getSelection();
            else if (document.selection)
                txt = document.selection.createRange().text;
            return txt;
        }

        var link_document_id;

        function getCaretCharacterOffsetWithin(element) {
            var caretOffset = 0;
            var doc = element.ownerDocument || element.document;
            var win = doc.defaultView || doc.parentWindow;
            var sel;
            if (typeof win.getSelection != "undefined") {
                var range = win.getSelection().getRangeAt(0);
                var preCaretRange = range.cloneRange();
                preCaretRange.selectNodeContents(element);
                preCaretRange.setEnd(range.endContainer, range.endOffset);
                caretOffset = preCaretRange.toString().length;
            } else if ((sel = doc.selection) && sel.type != "Control") {
                var textRange = sel.createRange();
                var preCaretTextRange = doc.body.createTextRange();
                preCaretTextRange.moveToElementText(element);
                preCaretTextRange.setEndPoint("EndToEnd", textRange);
                caretOffset = preCaretTextRange.text.length;
            }
            return caretOffset;
        }

        function showCaretPos() {
            var el = document.getElementById(parent);
            $('#length').val(selRange.endOffset - selRange.startOffset);
            $('#start_position').val(getCaretCharacterOffsetWithin(el) - $('#length').val());


            return getCaretCharacterOffsetWithin(el);

        }

        function sendSelectionTextPositions() {
            if (confirm("Вы хотите добавить ссылку?")) {
                $('#ShowModalWindow').addClass('hide');
                $('#article_item_id').val(parent);
                $('#modal').submit();
            }
        }

        var fulUrl = "";
        function getDocumentsList() {

            var div_class, id;

            $("#accordion").load("/ ol li a", function () {

                $('#accordion a').each(function (item) {

                    div_class = (item == 0) ? 'in' : '';
                    id = jQuery(this).attr('href');
                    $('#link_document_id').attr('doc_id', link_document_id);

                    jQuery(this).attr('href', '#collapse_' + item);
                    jQuery(this).attr('doc_id', id.replace(/[^0-9\s]/gi, ''));
                    jQuery(this).click(function () {
                        $('#link_document_id').attr('value', jQuery(this).attr('doc_id'));
                    });

                    if (item == 0) {
                        $('#link_document_id').attr('value', id.replace(/[^0-9\s]/gi, ''));
                    }

                    jQuery(this).attr('class', "accordion-toggle");
                    jQuery(this).attr('data-toggle', "collapse");
                    jQuery(this).attr('data-parent', "#accordion");
                    jQuery(this).wrap('<div class="accordion-group"><div class="accordion-heading"></div></div>');
                    jQuery(this).after('<button type="submit" class="btn btn-primary add_link_btn" onclick="sendSelectionTextPositions();  return false;" title="Добавить ссылку"><i class="icon-tags icon-white "></i></button>');
                    jQuery(jQuery(this).context.parentElement).after('\n <div id=' + 'collapse_' + item + ' class="accordion-body collapse ' + div_class + ' "><div class="accordion-inner"></div></div>');

                    fullDocumentView(id);
                });

                $('.accordion-inner').click(function (event) {
                    var $target = $(event.target);

                    if ($target.is("a")) {
                        $('#link_object_id').attr('value', $target.attr('href'));
                    }

                    sendSelectionTextPositions();
                });

            });
        }

        var elements;
        function fullDocumentView(id) {

            $(".accordion-inner").load(id + " .contents");

            $('.accordion-inner').mouseover(function (event) {
                var $target = $(event.target);
                if ($target.is("a")) {
                    $target.attr('onclick', 'return false');
                }
            });
        }
    </script>
{% endblock %}
{% block footer %} {% endblock %}
