{% extends "document/base.html" %}
<!DOCTYPE html>

{% block title %} Главная {% endblock %}

{% block content %}<a class='btn' href={% url 'document:upload' %} >Загрузить закон</a>
    <h1 align="center">Список законов!!! </h1>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ol>
            {% for document in documents %}
                <a href="{% url 'document:law' document.id %}">
                    <li>{{ document.name }}</li>
                </a>
            {% endfor %}
        </ol>
    {% else %}
        <p>No documents.</p>
    {% endif %}



{% endblock %}
{% block footer %}  {% endblock %}

